.flex-container {
    display: flex;
    flex-direction: row; /* Horizontal division */
  }
  
  .left-section, .right-section {
    flex: 1;
    
    
    
  }
  
  .left-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
  }
  
  .right-section {
    
    background-color: #e0e0e0;
    padding: 50px;
    font: size 70px;;
  }
  
  .aboutimg{
      max-width: 100%;
      height: auto;
  
      
      
  }