<!DOCTYPE html>

<html>
    <body>
        <div class="maxContainer">
            <div class="section">
                <br>
                <br>
                <div><h1 id="header">Ware-you-go</h1></div>
                <div class="d-flex justify-content-center">
                    <div class="user_card">
                        <div class="d-flex justify-content-center">
                            <h3 class="form-title text-center">LOGIN</h3>
                            
                        </div>
                        <div class="d-flex justify-content-center form_container">
                            <form #form="ngForm" >
                                
                                <div class="input-group mb-3">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    </div>
                                    <div>
                                    <input type="text" name="username" class="form-control input_user" placeholder="username" #username="ngModel" ngModel required minlength="3" maxlength="20">
                                    <div *ngIf="username.touched && username.invalid"
                                      class="error">
                                      <span *ngIf="username.errors.required">Username is required.</span>
                                      <span *ngIf="username.errors.minlength">Invalid Username.</span>
                                    </div>
                                      </div>
                                </div>
                                <div class="input-group mb-2">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    </div>
                                    <div>
                                    <input type="password" name="password" class="form-control input_pass" placeholder="password" [(ngModel)]="formData['password']" required pattern="[a-zA-Z0-9._%+-]" minlength="8">
                                    <div *ngIf="form.controls && form.controls['password'] && form.controls['password'].touched && form.controls['password'].invalid"
                                    class="error">Invalid password</div>
                                    </div>
                                </div>
                            
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customControlInline">
                                        <label class="custom-control-label" for="customControlInline">Remember Me</label>
                                    </div>

                                
                                </div>
                                <div class="d-flex justify-content-center mt-3 login_container">
                                  <button type="submit" name="button" class="btn login_btn" [disabled]="form.invalid"> Login </button>
                              </div>
                              <div class="mt-4">
                                <div class="d-flex justify-content-center links pb-3">
                                    Don't have an account? <a routerLink="/register" class="ml-2">Register</a>
                                </div>
                              </div>
                            </form>
                        </div>
                       
                    </div>
                </div>
            </div> 
        </div>
    </body>       
        
        
    
</html>
